@use '../../assets/scss/mixins.scss' as *;
@use '../../assets/scss/variables.scss' as *;

.Dropdown {
  position: relative;

  >button {
    .iconContainer {
      display: flex;
      align-items: center;

      svg {
        font-size: 24rem;
      }
    }
  }

  .floatContainer {
    z-index: 1;
    position: absolute;

    &.justify {
      &-center {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &-left {
        right: calc(100% + 8rem);
      }

      &-right {
        left: calc(100% + 8rem);
      }
    }

    &.align {
      &-center {
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }

      &-bottom {
        top: 0;
      }

      &-top {
        bottom: calc(100% + 8rem);
      }
    }

    .container {
      @include glass;
      padding: 8rem;
      border-radius: 16rem;
    }
  }
}