@use '../../assets/scss/variables.scss' as *;
@use '../../assets/scss/mixins.scss' as *;

.Input,
.Textarea {
  position: relative;
  border-bottom: $border;
  border-radius: 8rem;
  padding-top: 16rem;

  * {
    outline: none;
  }

  &.fill {
    @include glass;
  }

  input,
  textarea {
    border: none;
    background: none;
    padding: 8rem 16rem;
    border-radius: 8rem;
    width: 100%;
    max-width: 100%;
  }

  textarea {
    min-height: 40rem !important;
  }

  .label {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14rem 16rem;
    top: 0;
    left: 0;
    transition: all .3s ease;

    label {
      transition: all .3s ease;
      width: fit-content;
    }
  }

  input:focus+.label,
  textarea:focus+.label,
  .label.valued {
    height: 16rem;

    label {
      color: $tom-escuro-50;
      font-size: 12rem;
      border-radius: 4rem;
    }
  }
}