$primary: var(--primary);
$primary-20: var(--primary-20);

$secondary: var(--secondary);

$accent: var(--accent);

$white: var(--white);
$white-80: var(--white-80);
$tom-claro: var(--tom-claro);
$tom-escuro: var(--tom-escuro);
$tom-escuro-20: var(--tom-escuro-20);

$gradient: var(--gradient);
$background: var(--background);

$border: var(--border);