@use '../../assets/scss/variables.scss' as *;
@use '../../assets/scss/mixins.scss' as *;

.Button {
  @include glass;
  padding: 0 16rem;
  height: 40rem;
  color: $tom-escuro;
  border: $border;
  border-radius: 8rem;
  display: flex;
  gap: 8rem;
  align-items: center;
}